@model List<ApiEndpoint>

<h2>Choose a Form</h2>

<ul>
    @foreach (var endpoint in Model)
    {
        var viewName = endpoint.Path.Trim('/').Split('/').Last().Replace("{", "").Replace("}", "");
        <li><a href="@Url.Action("Form", "Form", new { formName = viewName })">@viewName Form</a></li>
    }
</ul>
